@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ECECEC;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Lexend Tera', sans-serif;

    /* padding: 1em; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    /* Initial transparent background */
    transition: background-color 0.3s ease;
    z-index: 999;
}

nav.scrolled {
    background-color: #ECECEC;
    /* Change background color on scroll */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Optional: Add a shadow when scrolled */
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: black;
}

.links li {
    list-style: none;
    position: relative;
    display: inline-block;
    /* padding: 10px 20px; */
    gap: 10px;
    margin: 0 10px;
    cursor: pointer;
}

.links li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    background-color: #007E85;
    /* Adjust the color as needed */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.links li:hover::before {
    width: 100%;
}

.hidee {
    display: none;
}


.navimg img {
    height: 60px;
    width: 200px;
}

.buttonse {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.buttonse a {
    text-decoration: none;
    color: #007E85;
}

@media (max-width:997px) {
    .hidee {
        display: block;
    }

    .diee {
        display: none;
    }


    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 2em;
        padding-right: 2em;
    }
}

/* part1 */
.Part1 {
    padding-top: 80px;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 4em; */
    padding-left: 3em;
    padding-right: 3em;
}

.first {
    width: 50%;
}

.first h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 1em;
}

.second {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second img {
    max-width: 100%;
    height: auto;
    display: block;
}

.butone {
    padding-top: 3em;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2em;
}

.butone a {
    text-decoration: none;
    color: white;
    background-color: #007E85;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
}


@media (max-width:997px) {
    .first h1 {
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
        padding-bottom: 1em;
    }

    .butone {
        padding-top: 1em;
        gap: 2em;
    }
}

@media (max-width:800px) {
    .Part1 {
        flex-direction: column-reverse;
        gap: 2em;
    }

    .first {
        width: 100%;
    }

    .second {
        width: 100%;
    }

    .first h1 {
        font-size: 40px;
    }
}

@media (max-width:500px) {
    .first h1 {
        font-size: 30px;
    }
}

@media (max-width:400px) {
    .butone {
        flex-direction: column;
        gap: 1em;
    }
}

/* part 2 */

.Part2 {
    margin: 2em;
    text-align: start;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 1em 2em 1em 2em;
    background-color: #FAFAFA;
    border-radius: 15px;
    font-family: 'DM Sans', sans-serif;

}

.Part2 h2 {
    color: #000;
    text-align: start;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    /* 127.778% */
    text-transform: capitalize;
}

.contai {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    padding: 1em 0 0 0;

}

.search-fields {
    /* flex: 1; */
    width: 900px;
    display: flex;
    justify-content: space-between;
}

input[type=text] {
    width: calc(50% - 5px);
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #007E85;
    border-radius: 8px;
}

.switch-container {
    margin: 0 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

@media screen and (max-width: 500px) {
    .contai {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

    .search-fields,
    .switch-container,
    input[type=submit] {
        width: 100%;
        margin-bottom: 10px;
        display: block;
        box-sizing: border-box;
    }

    .switch-container {
        margin-top: 10px;
    }
}

/* part 3 */
.Part3 {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Part3 h2 {
    padding-bottom: 1em;
    color: #007E85;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'DM Sans', sans-serif;
    /* Headings/H2 */
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    /* 127.778% */
}

.results {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.item p {
    text-align: center;
    /* font-size: 24px; */
    color: #007E85;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Special headings/Display 3 */
    font-family: 'DM Sans', sans-serif;

    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    /* 113.636% */
}

.item span {
    /* font-size: 18px; */
    color: #333;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Headings/H3 */
    font-family: 'DM Sans', sans-serif;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    /* 141.667% */
}

@media (max-width:930px) {
    .item p {
        font-size: 27px;
    }

    .item span {
        font-size: 20px;
    }
}

@media (max-width:780px) {
    .results {
        flex-direction: column;
        width: 100%;
    }

    .item p {
        font-size: 27px;
    }

    .item span {
        font-size: 20px;
    }
}

/* part4 starts here */
.part4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
}

.part4left {
    width: 50%;
}

.part4left h1 {
    color: #007E85;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'DM Sans', sans-serif;

    /* Headings/H2 */
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    /* 127.778% */
}

.gren {
    border-radius: 40px;
    background: #007E85;
    text-decoration: none;
    color: white;
    padding: 8px;
}
.whit {
    border-radius: 40px;
    background: white;
    text-decoration: none;
    color: #007E85;
    padding: 8px;
}

.part4right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.part4right img {
    width: 450px;
}

@media (max-width:950px) {
    .part4{
        flex-direction: column-reverse;
    }
    .part4left{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .part4left h1{
        text-align: center;
    }
    .part4left p{
        text-align: center;
    }
    .part4right{
        width: 100%;
    }
}
@media (max-width:580px) {
    .part4right img{
        width: 380px;
    }
}
@media (max-width:415px) {
    .part4{
        padding-left: 1em;
        padding-right: 1em;
    }
    .part4right img{
        width: 250px;
    }
}
/* part5 starts here */
.part5{
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.part5 h1{
    text-align: center;
}
.part5 p{
    text-align: center;
}
.card{
    border-radius:10px ;
}
.card img{
    padding: 10px;
}
.card p{
    text-align: start;
}

.mb-4{
    display: flex;
    justify-content: center ;
}